body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 0, 20);;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  gap: 10px;
  border: 2px solid rgb(58, 58, 58);
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px 10px;
  background-color: rgb(53, 53, 53);
  color: white;
  height: 80px;
}

.output {
  font-size: 36px;
  text-align: end;
}

.previous-operation {
  margin: 10px;
}

.previous-operation,
.output {
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.btn {
  flex: 1;
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(41, 41, 41);
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.cancel {
  color: rgb(255, 80, 80);
}

.equal {
  background-color: rgb(70, 167, 70);
}

.operator,
.cancel,
.del {
  background-color: rgb(53, 53, 53);
}

.last-row {
  display: flex;
}

.last-row > div {
  display: flex;
  flex: 1;
}

.hidden {
  visibility: hidden; 
}